{{define "header"}}
<header>
    <nav>
        <a href="/">Dashboard</a>
        <a href="/periods">Periods</a>
        <a href="/items">Items</a>
        <a href="/invoices">Invoices</a>
    </nav>
</header>
{{end}}