<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<form action="/invoices/update/process" method="post">
    <table>
        <tr>
            <td>id</td>
            <td><input type="text" name="id" id="id" value="{{.ID}}"/></td>
        </tr>
        <tr>
            <td>title</td>
            <td><input type="text" name="title" id="title" value="{{.Title}}"/></td>
        </tr>
        <tr>
            <td>description</td>
            <td><input type="text" name="description" id="description" value="{{.Description}}"/></td>
        </tr>
        <tr>
            <td>aim</td>
            <td><input type="text" name="aim" id="aim" value="{{.Aim}}"/></td>
        </tr>
        <tr>
            <td><input type="submit" name="submit-btn" value="add"></td>
        </tr>
    </table>
</form>
</body>
{{/*{{end}}*/}}