<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{{template "header"}}
<table>
    <tr>
        <td>id</td>
        <td>title</td>
        <td>current sum</td>
        <td>aim</td>
        <td></td>
    </tr>
    {{range .}}
        <tr>{{if .Deleted}}
                <td><strike>{{.ID}}</strike></td>
                <td><strike>{{.Title}}</strike></td>
                <td><strike>{{.GetCurrentSum}}</strike></td>
                <td><strike>{{if .HasAim }}
                            {{.Aim}}
                        {{end}}</strike></td>
            {{else}}
                <td>{{.ID}}</td>
                <td>{{.Title}}</td>
                <td>{{.GetCurrentSum}}</td>
                <td>{{if .HasAim }}
                        {{.Aim}}
                    {{end}}</td>
            {{end}}
            <td><a href="/invoices/update?id={{.ID}}&title={{.Title}}&aim={{.Aim}}">(update)</a> / <a
                        href="/invoices/delete?id={{.ID}}">(delete)</a>
            </td>
        </tr>
    {{end}}

</table>
<a href="/invoices/update">add invoice</a>
{{/*{{template "invoice-form"}}*/}}
</body>
</html>