<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

{{template "header"}}
<table>
    <tr>Шапочка таблицы</tr>
    {{range .}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Title}}</td>
            <td><a href="/invoices/update?.ID">(update)</a> / <a
                        href="/invoices/delete?.ID">(delete)</a></td>
            </li>
        </tr>
    {{end}}
</table>
<a href="/items/add">(Add)</a>

<form action="/items/add" method="post">
    <input type="text" name="title" id="title"/>
    <input type="submit" name="submit-btn" value="add">
</form>
</body>
</html>