<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

{{template "header"}}
<table>
    <tr>
        <td>id</td>
        <td>title</td>
        <td></td>
    </tr>
    {{range .}}
        <tr>{{if .Deleted}}
                <td><strike>{{.ID}}</strike></td>
                <td><strike>{{.Title}}</strike></td>
            {{else}}
                <td>{{.ID}}</td>
                <td>{{.Title}}</td>
            {{end}}
            <td><a href="/items/update?id={{.ID}}&title={{.Title}}">(update)</a> / <a
                        href="/items/delete?id={{.ID}}">(delete)</a></td>
        </tr>
    {{end}}
</table>
<a href="/items/update">(Add)</a>
</body>
</html>