<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

{{template "header"}}
<table>
    <tr>
        <td>periods</td>
        <td></td>
    </tr>
    {{range .}}
        <tr>
            <td>
                <a href="/plans/update?id={{.ID}}&start_date={{.GetFormattedStartDate}}&finish_date={{.GetFormattedFinishDate}}&closed={{.Closed}}">{{.GetFormattedStartDate}}
                    - {{.GetFormattedFinishDate}}</a></td>
            <td><a href="/plans/close?id={{.ID}}">(close period)</a></td>
        </tr>
    {{end}}
</table>
<a href="/plans/update">(Add)</a>
</body>
</html>